<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>class</key>
		<string>HomeViewController</string>
		<key>title</key>
		<string>首页</string>
		<key>image</key>
		<string>ico_home_normal</string>
		<key>selectedImage</key>
		<string>ico_home_normal</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
	<dict>
		<key>class</key>
		<string>MenuViewController</string>
		<key>title</key>
		<string>服务</string>
		<key>image</key>
		<string>heart</string>
		<key>selectedImage</key>
		<string>heart</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
	<dict>
		<key>class</key>
		<string>ComprehensiveViewController</string>
		<key>title</key>
		<string>综合查询</string>
		<key>image</key>
		<string>target</string>
		<key>selectedImage</key>
		<string>target</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
	<dict>
		<key>class</key>
		<string>ComprehensiveViewController</string>
		<key>title</key>
		<string>我的</string>
		<key>image</key>
		<string>mine</string>
		<key>selectedImage</key>
		<string>mine</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
</array>
</plist>
